@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format('woff');
}

body {
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #636373;
    line-height: 30px;
}

.fake-load {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: #ffffff;
    left: 0px;
    top: 0px;
}

.fake-load.loaded {
    opacity: 0;

    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.container {
    padding-left: 35px;
    padding-right: 35px;
}

a {
    color: #0088cc;
}

a:hover {
    color: #0095e0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h1, h2, h3 {
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 1.6px;
}

h1 strong, h2 strong, h3 strong {
    color: #171726;
}

.nav > li > a {
    font-size: 24px;
    color: #171726;
    padding: 15px 23px;
}

.nav > li > a.home {
    color: #d6d6d7;
}

.navbar-nav {
    margin-top: 6px;
    padding: 0px 12px;
    background: #fff;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -35px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    color: #636373;
}

header.navbar {
    padding: 40px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.navbar .line-outer {
    margin: 0px -4000px;
    height: 23px;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0px;
    right: 0px;
}

.navbar .line {
    width: 0px;
    height: 23px;
    margin: 0px auto;
    border-left: 1500px solid #0E151D;
    border-right: 1500px solid #f2f2f2;
}

.navbar .menu-line {
    height: 23px;
    width: 100%;
    background: #f2f2f2;
    margin: 20px 0px -43px;
}

.navbar .container {
    position: relative;
    z-index: 3;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: normal;
    background: #fff;

    margin-left: -20px;
    padding: 15px 35px;
}

.navbar-collapse {
    margin-bottom: 30px;
}

.teaser h1 {
    font-size: 36px;
    line-height: normal;
}

.teaser h2 {
   margin-top: 10px;
    font-size: 30px;
}

.teaser h2 strong {
    color: #636373;
}

.projects .slide {
    overflow: hidden;
}

.projects .dark {
    background: #0E151D;
}

.projects .light {
    background: #f3f4f6;
}

.projects .container {
    height: 740px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.loader {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-left: -10px;
}

.desc {
    margin: 60px 0px 0px 0px;
    width: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.desc .head {
    padding: 25px 35px;
}

.desc .information {
    padding: 30px 35px;
}

.desc .head h1 {
    margin: 0px;
    color: #fff;
}

.desc .head h1 a {
    color: inherit;
    text-decoration: none;
}

.desc .head h1 .glyphicon {
    font-size: 22px;

    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.desc .head h1:hover .glyphicon {
    margin-left: 3px;

    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.desc sup {
    font-size: 16px;
    opacity: 0.4;
}

.desc .head span {
    color: #fff;
    text-transform: uppercase;
    display: block;
    line-height: 18px;
}

.desc h5 {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
}

.desc p, .desc ul {
    margin-bottom: 20px;
    line-height: 21px;
}

.dark .desc {
    background: rgba(0,0,0,0.9);
}

.dark h5 {
    color: #ffffff;
}

.light h5 {
    color: #171726;
}

.light .desc {
    background: rgba(255,255,255,0.9);
}

.desc .head.pink {
    background: #f26974;
}

.desc .head.green {
    background: #37ad74;
}

.desc .head.blue {
    background: #1cbcdf;
}

.desc .head.white {
    background: #eeeeee;
    color: #F3F4F6;
}

.desc .head.orange {
    background: #ff7a36;
}

.desc .head.red {
    background: #D73127;
}

.desc .head.white span, .desc .head.white h1 {
    color: #171726;
}

.quote-button .inner {
    max-width: 1200px;
    margin: 0px auto;
    padding: 60px 0px 40px;
}

.quote-button .btn {
    margin-top: 20px;
}

.btn {
    border-radius: 0px;
    text-transform: uppercase;
}

.btn-primary {
    background: #1cbcdf;
    border-color: #17b1d3;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #0095e0;
    border-color: #17b1d3;
}

.btn.btn-lg {
    padding-left: 70px;
    padding-right: 70px;
    padding-right: 65px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    font-size: 21px;
}

.btn.btn-lg .glyphicon {
    font-size: 16px;
    top: 0px;
    margin-left: 5px;
}

h1.title {
    height: 20px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 30px;
    color: #171726;
    letter-spacing: 3.5px;
}

h1.title span {
    background: #ffffff;
    padding-right: 35px;
}

.services {
    margin-bottom: 30px;
}

.services-list {
    border: none;
    margin: 0px;
    padding: 18px 0px 10px;
    position: relative;
    max-width: 330px;
}

.services-list li {
    margin: 0px;
    float: none;
}

.services-list li a {
    border: none;
    padding: 6px 35px;
    display: block;
    text-decoration: none;
    border-radius: 0px;
    margin-left: -35px;
    margin-right: 22px;
    white-space: nowrap;
    position: relative;
}

.services-list li.active a {
    background: #1cbcdf !important;
    color: #fff !important;
}

.services-list li.active a:before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 14px solid #ffffff !important;
}

.services-list li.active a:after {
    position: absolute;
    top: 0px;
    right: -14px;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 14px solid #1CBCDF !important;
}

.services-list li.active a:hover:after {
    border-left: 14px solid #0095E0 !important;
}

.services-list li.active a:hover {
    background: #0095E0 !important;
}

.services-list li a:hover {
    background: #F3F4F6;
}

.services-list li a:hover:before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 14px solid #ffffff;
}

.services-list li a:hover:after {
    position: absolute;
    top: 0px;
    right: -14px;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 14px solid #F3F4F6 ;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
}

.how-we-work .inner {
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px 0px 50px;
}

.how-we-work .inner h2 {
    margin-bottom: 20px;
}

p.description {
    font-size: 21px;
}

.how-we-work .icon {
    font-size: 2.7em;
    color: #171726;
}

.how-we-work .icon span {
    display: inline-block;
    padding-bottom: 20px;
    background: #fff;
}

.how-we-work .item {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.how-we-work .arrow {
    width: 15px;
    height: 614px;
    position: absolute;
    bottom: 100%;
    left: 12.1%;
    background: url(../images/arrow.png) no-repeat center bottom;
}

.how-we-work .item p {
    max-width: 1000px;
}

.how-we-work .item h2, .how-we-work .item h3 {
    text-transform: none;
    margin: 0px 0px 7px 0px;
    letter-spacing: normal;
}

.get-a-quote .inner {
    margin: 0px auto;
    padding: 10px 0px 50px;
    max-width: 1200px;
}

.get-a-quote h2 + h2 {
    margin-top: 10px;
}

.get-a-quote form {
    margin: 0px auto;
    max-width: 870px;
}

.get-a-quote form button {
    margin-top: 15px;
}

.get-a-quote form input {
    font-size: 18px;
    height: 40px;
    padding: 5px 10px 5px 50px;
    border-radius: 0px;
    box-shadow: none !important;
    background: url(../images/form.jpg) no-repeat 0px 0px;
}

.get-a-quote form textarea {
    font-size: 18px;
    padding: 5px 10px 5px 50px;
    border-radius: 0px;
    box-shadow: none !important;
    margin: 0px auto;
    background: url(../images/form.jpg) no-repeat 0px -34px;
    resize: none;
}

footer {
    background: #0E151D;
    color: #fff;
    font-size: 14px;
    padding: 30px 0px;
    margin-top: 60px;
    position: relative;
}

footer .up {
    width: 63px;
    height: 46px;
    position: absolute;
    top: -28px;
    left: 50%;
    margin-left: -32px;
    background: url(../images/up.png) no-repeat 0px 0px;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

footer .disclaimer {
    text-transform: uppercase;
    color: #636373;
}

footer .disclaimer a {
    color: #636373;
}

footer .information {
    text-transform: uppercase;
}

.hosting-plans img {
    margin: 0px 40px 40px 0px;
}

.hosting-plans img:last-child {
    margin-right: 0px;
}

.services .tab-content ul, .services .tab-content ol {
    margin-bottom: 30px;
}

.services h2 {
    margin-bottom: 30px;
}

.services .container {
    overflow: hidden;
}

.navbar-toggle {
    background: #171726;
    margin-top: 14px;
    border-radius: 0px;
}

.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background: #ffffff;
}

.navbar-toggle:hover .icon-bar {
    background: #ccc;
}

.sor .head h1 {
    line-height: 26px;
    margin-bottom: 8px;
}

.message.error {
    color: #AA0000;
}

.message.success {
    color: #00AA00;
}

.slide .image {
    display: block;
    height: 1110px;
    text-align: center;
    z-index: 1;
    top: 0px;
    left: 0px;
    margin: -277px -500px 0px;
}

.slide .image img {
    margin-right: -250px;
}

@media (max-width: 480px) {
    .slide .image {
        display: none;
    }

    .projects .container {
        height: auto;
    }

    .desc {
        position: static;
        margin: 0px -35px !important;
        width: auto;
    }
}

@media (min-width: 767px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -35px;
        padding: 15px 35px;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        margin-left: -11px;
    }

    .navbar-nav a {
        margin-top: 10px;
        border-left: 4px solid #171726;
        border-bottom: 1px solid #ededed;
    }

    .desc {
        bottom: 60px;
    }

    .btn-lg {
        width: 100%;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }

    .teaser h1 {
        font-size: 30px;
    }

    .teaser h2 {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .services-list li.active a:before, .services-list li.active a:after, .services-list li a:hover:before, .services-list li a:hover:after {
        display: none !important;
    }

    .services-list li a {
        margin-right: -35px;
    }

    footer .pull-right {
        float: none !important;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .desc {
        margin-left: -20px;
    }

    .hosting-plans img {
        display: block;
        margin: 0px auto 40px;
    }

    .hosting-plans img:last-child {
        margin-right: auto;
    }

    .services-list {
        max-width: none;
    }

    .services-list a {
        margin: 0px !important;
        text-align: center;
        font-size: 21px;
        padding: 11px 35px 10px !important;
    }

    .services .tab-content ul, .how-we-work ul, .services .tab-content ol, .how-we-work ol {
        padding-left: 20px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width:1760px;
        width: auto;
    }
    .services .col-md-6 {
        padding-right: 50px;
    }
}